* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-darkblue: darkblue;
    --color-white: white;
    --color-gray: gray;
    --color-steelblue: steelblue;
    --padding-small: 2px;
    --padding-medium: 10px;
    --padding-large: 20px;
    --width-small: 150px;
    --width-large: 200px;
    --border-black-translucent: 1px solid rgb(0 0 0 / 0.2);
    --border-black: 1px solid #000;
    --border-steelblue: 1px solid var(--color-steelblue);
    --max-width-main: 840px;
    --text-align-center: center;
}

nav {
    background-color: var(--color-darkblue);
    padding: var(--padding-medium);
}

nav a {
    color: var(--color-white);
    display: block;
    padding: var(--padding-large);
}

h1 {
    color: var(--color-darkblue);
}

main img {
    width: var(--width-small);
    height: auto;
    border: var(--border-steelblue);
    padding: var(--padding-small);
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: var(--max-width-main);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-black-translucent);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align-center);
}

aside img {
    width: var(--width-large);
    height: auto;
}

aside h2 {
    position: absolute;
    top: 1;
    left: 150px;
}

footer {
    margin-top: 15px;
    border-top: var(--border-black);
    text-align: var(--text-align-center);
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}